{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Employee Directory</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
   
<div class="container mt-5">

    <div class="card shadow-lg mx-auto" style="width: 26rem; border-radius: 15px; overflow: hidden;">

        <!-- Employee Image -->
        <img src="{{ employee.image.url }}" 
             class="card-img-top"
             alt="{{ employee.first_name }}"
             style="height: 260px; object-fit: cover;">

        <!-- Card Header -->
        <div class="text-center bg-primary text-white p-3">
            <h3 class="m-0">{{ employee.first_name }} {{ employee.last_name }}</h3>
            <p class="m-0">{{ employee.designation }}</p>
        </div>

        <!-- Card Body -->
        <div class="card-body">

            <p><strong>ID:</strong> {{ employee.id }}</p>
            <p><strong>Email:</strong> {{ employee.email }}</p>
            <p><strong>Salary:</strong> ₹ {{ employee.salary }}</p>
            <p><strong>Manager:</strong> {{ employee.manager }}</p>
            <p><strong>Department:</strong> {{ employee.department }}</p>

            <p class="mt-3">
                <strong>Status:</strong>
                {% if employee.is_active %}
                    <span class="badge bg-success">Active</span>
                {% else %}
                    <span class="badge bg-danger">Inactive</span>
                {% endif %}
            </p>

        </div>
{% comment %} <div class="mt-3 d-flex gap-2">
    <a href="{% url 'edit_employee' employee.id %}" class="btn btn-warning w-50">Edit</a>
    <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger w-50">Delete</a>
</div> {% endcomment %}
        <!-- Footer -->
        <div class="card-footer bg-light text-center">
            <a href="{% url 'home' %}" class="btn btn-primary w-100" style="border-radius: 30px;">
                Back to Home
            </a>
        </div>

    </div>

</div>
    

</body>
</html>